//Colors
$primary-color: #ff51bf;
$secondary-color: #9951ff;
$neutral-color-light-greyish-blue: #f6f9fd;
$neutral-color-mid-greyish-blue: #7f8d98;
$neutral-color-dark-cyan: #00242d;

// Variables
$display-lg: 75em; //1200px 
$display-md: 56.25em; //900px
$display-sm: 46.875em; //750px
$display-xs: 25em; //400px